# frontend ===
/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local
/frontend/package-lock.json
/frontend/coverage
/frontend/build

# backend ===
/backend/node_modules
/backend/package-lock.json
/backend/.env
/backend/dist

# Editor directories and files ===
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
