.cell{
    border: 1px solid #E8E8E8;
    height: 192px;
    vertical-align: top;
    padding: 12px;
}

.cell a{
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 4px;
    text-decoration: none;
}

.date{
    font-size: 21px;
    font-weight: 500;
    color: #969696;
}

.red{
    background-color: rgba(255, 59, 59, .1);
    color: #E92C2C;
}

.buttons{

}